# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/
.idea/

# Environment Variables
.env

# Logs
*.log

# SQLite
*.sqlite3

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db